/* Paleta de colores */
:root {
    --color-primario: #2196F3; /* Azul */
    --color-secundario: #7bc3fd; /* Azul claro */
    --color-terciario: #bddef7; /* Azul muy claro */
    --color-gris: #BDBDBD; /* Gris */
    --color-blanco: #ffffff; /* Blanco */
    --color-texto: #3c3d3d; /*Negro*/
    --color-h2: #078dfa;
    --color-h3: #43a9fd;
    --color-h4: #6fbeff;
  }
  
  /* Estilos generales */
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--color-terciario);
  }
  
  /* Encabezado */
  header {
    background-color: var(--color-primario);
    color: var(--color-blanco);
    padding: 20px;
  }
  header {
    position: sticky;
    top: 0;
   
    z-index: 1;
    padding: 1rem 0;
  }
 
  nav button {
    background-color: #f1f1f1;
    border: none;
    padding: 10px 20px;
    text-align: left;
    text-decoration: none;
    display: block;
    width: 100%;
    cursor: pointer;
  }
  
  nav button:hover {
    background-color: #ddd;
  }
  
  nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding: 0;
  }
  
  nav li {
    margin: 0 10px;
  }
  
  nav a {
    color: var(--color-blanco);
    text-decoration: none;
  }
  
  nav a:hover {
    color: var(--color-secundario);
  }
  
  /* Contenido principal */
  main {
    padding: 20px;
  }
  
  section {
    background-color: var(--color-blanco);
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    padding: 15px;
    width: 80%;
    max-width: 800px;
    margin: 20px auto;
  }
  
  h2 {
    color: var(--color-h2);
  }


  /*subtitulos*/
  h3 {
    color: var(--color-h3);
  }

  h4 {
    color: var(--color-h4);
  }

  p {
    text-align: justify;
    word-spacing: 0.1em;
    letter-spacing: 0.05em;
    color: var(--color-texto);
  }

  /* Pie de p치gina */
  footer {
    background-color: var(--color-gris);
    color: var(--color-blanco);
    text-align: center;
    padding: 10px;
  }


  /*binomial*/
  body b {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 50px 0;
  }
  
  .formulab {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .variablesb {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .variableb {
    display: inline-block;
    margin: 0 10px;
  }


  /*hipergeometrica*/
  body g{
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 50px 0;
  }
  
  .formulag {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .variablesg {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .variableg {
    display: inline-block;
    margin: 0 10px;
  }


  /*Poisson*/
  body i{
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 50px 0;
  }
  
  .formulai {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .variablesi {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .variablei {
    display: inline-block;
    margin: 0 10px;
  }


  button {
    background-color: #6fbeff; /* Color de fondo verde */
    border: none;
    color: white; /* Color de texto blanco */
    padding: 10px 20px; /* Espacio interno del bot칩n */
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer; /* Cambia el cursor al pasar por encima */
    display: block; /* Convierte el bot칩n en un elemento de bloque */
    margin-left: auto; /* Alinea el bot칩n a la derecha */
    border-radius: 20px; /* Crea la forma de burbuja */
  }